.HOVER {
  --width: 100%;
  --time: 0.5s;
  position: relative;
  display: inline-block; }

.light {
  --width: 100%;
  --time: 0.5s;
  position: relative;
  display: inline-block;
  overflow: hidden; }

.HOVER a,
.light .rounded-circle-text {
  position: relative;
  z-index: 5; }

.HOVER span {
  position: absolute;
  display: block;
  content: "";
  z-index: 0;
  width: 0;
  height: 0;
  top: 0;
  border: 1px solid rgba(53, 53, 52, 0); }

.HOVER:hover span {
  border: 1px solid #353534; }

.light .shadow-light {
  position: absolute;
  display: block;
  content: "";
  z-index: 0;
  width: 0;
  height: 0;
  top: 0;
  border-radius: 100%;
  transition: background 2000ms; }

.light:hover .shadow-light {
  background: rgba(255, 255, 255, 0.1);
  margin-top: 0 !important; }

.shadow-light-half-right {
  transition: background 2000ms;
  background: radial-gradient(circle at 0%, #353534 50%, rgba(255, 255, 255, 0.15) 95%);
  margin-top: 0 !important; }

.shadow-light-half-left {
  transition: background 2000ms;
  background: radial-gradient(circle at 100%, #353534 50%, rgba(255, 255, 255, 0.15) 95%);
  margin-top: 0 !important; }

.mobile-menu-items {
  position: absolute;
  top: -10px;
  left: -14px;
  width: 64px;
  height: 64px;
  z-index: -1;
  opacity: 0;
  transition: top 10ms; }
  .mobile-menu-items .nav-link {
    box-sizing: border-box;
    background-color: #fff;
    border-color: #999;
    border-style: solid;
    border-width: 0 1px;
    color: #353534;
    display: block;
    font: 14px/64px sans-serif;
    height: 64px;
    opacity: 0.5;
    padding: 0px 26px;
    position: absolute;
    left: 0;
    text-align: left;
    text-decoration: none;
    top: 0;
    transition: all 300ms ease 0ms, width 0ms ease-out 0ms;
    vertical-align: middle;
    width: 64px;
    z-index: -1;
    overflow: hidden; }
    .mobile-menu-items .nav-link.important-item {
      background-color: #353534;
      color: #fff; }
    .mobile-menu-items .nav-link:first-of-type {
      border-width: 1px 1px 0 1px; }
    .mobile-menu-items .nav-link:last-of-type {
      border-width: 0 1px 1px 1px; }
    .mobile-menu-items .nav-link:hover {
      background-color: gray;
      color: white; }
      .mobile-menu-items .nav-link:hover span {
        color: white; }
  .mobile-menu-items.open {
    opacity: 1; }
    .mobile-menu-items.open a {
      opacity: 1;
      width: 280px; }
      .mobile-menu-items.open a:nth-child(1) {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        transition: all 200ms ease-in-out 0ms, color 200ms ease 0ms, background-color 200ms ease 0ms, width 300ms ease-in 200ms, opacity 300ms ease-in 0ms; }
      .mobile-menu-items.open a:nth-child(2) {
        -webkit-transform: translateY(200%);
        transform: translateY(200%);
        transition: all 400ms ease-in-out 0ms, color 200ms ease 0ms, background-color 200ms ease 0ms, width 300ms ease-in 400ms, opacity 300ms ease-in 100ms; }
      .mobile-menu-items.open a:nth-child(3) {
        -webkit-transform: translateY(300%);
        transform: translateY(300%);
        transition: all 600ms ease-in-out 0ms, color 200ms ease 0ms, background-color 200ms ease 0ms, width 300ms ease-in 600ms, opacity 300ms ease-in 200ms; }
      .mobile-menu-items.open a:nth-child(4) {
        -webkit-transform: translateY(400%);
        transform: translateY(400%);
        transition: all 800ms ease-in-out 0ms, color 200ms ease 0ms, background-color 200ms ease 0ms, width 300ms ease-in 800ms, opacity 300ms ease-in 300ms; }
      .mobile-menu-items.open a:nth-child(5) {
        -webkit-transform: translateY(500%);
        transform: translateY(500%);
        transition: all 1000ms ease-in-out 0ms, color 200ms ease 0ms, background-color 200ms ease 0ms, width 300ms ease-in 1000ms, opacity 300ms ease-in 400ms; }
      .mobile-menu-items.open a:nth-child(6) {
        -webkit-transform: translateY(600%);
        transform: translateY(600%);
        transition: all 1200ms ease-in-out 0ms, color 200ms ease 0ms, background-color 200ms ease 0ms, width 300ms ease-in 1000ms, opacity 300ms ease-in 400ms; }
      .mobile-menu-items.open a:nth-child(7) {
        -webkit-transform: translateY(700%);
        transform: translateY(700%);
        transition: all 1400ms ease-in-out 0ms, color 200ms ease 0ms, background-color 200ms ease 0ms, width 300ms ease-in 1000ms, opacity 300ms ease-in 400ms; }
