@import 'variables';

@font-face {
  font-family: 'icon';
  src:  url('../fonts/icons/icons.eot?9re3qw');
  src:  url('../fonts/icons/icons.eot?9re3qw#iefix') format('embedded-opentype'),
    url('../fonts/icons/icons.ttf?9re3qw') format('truetype'),
    url('../fonts/icons/icons.woff?9re3qw') format('woff'),
    url('../fonts/icons/icons.svg?9re3qw#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.4rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\ea92";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-behance2:before {
  content: "\eaa9";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-pinterest2:before {
  content: "\ead2";
}
