$main-color-first: #fff;
$main-color-second: #353534;
$main-color-strong: #404040;


$extra-sm-mobile: 575.98px;

$land-mobile-start: 576px;
$land-mobile-end: 767.98px;

$tablet-start: 768px;
$tablet-end: 971.98px;

$desctop-start: 972px;
$desctop-end: 1919.98px;

$large-desctop: 1920px;